@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,300&display=swap');

:root{
    /* color variables */
    --darkblue:hsl(233, 26%, 24%);
    --limegreen:hsl(136, 65%, 51%);
    --brightcyan:hsl(192, 70%, 51%);
    --grayishblue: hsl(233, 8%, 62%);
    --lightgrayishblue: hsl(220, 16%, 96%);
    --verylightgray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    /* font variables */
    --font-sm:0.875rem;
    --font-med:1.125rem;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%;
	font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
    font-family: 'Public Sans',sans-serif;
    font-size:var(--font-med);
    font-weight: 300;
    color:var(--grayishblue);
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,a:visited,a:hover{
    text-decoration: none;
    color:var(--grayishblue);
}




/* header  */

.header nav{
    padding:1.0625rem 1.5rem;
}


.header .logo img{
    width:8.813rem;
    height:1.25rem;
}

/* .header .menu{

} */

.header .links a{
    font-size:var(--font-sm);
    margin-top:0;
    transition: color 200ms ease-in-out;
    position:relative;
}

.header .links a::before{
    content:" ";
    position:absolute;
    height:4px;
    left:0;
    right:0;
    bottom:-30px;
    background:linear-gradient(to right,var(--limegreen),var(--brightcyan));
    opacity:0;
    transition: opacity 300ms ease-in;
}
.header .links a:hover::before{
    background:linear-gradient(to right,var(--limegreen),var(--brightcyan));
    opacity:1;
}
.header .links a:not(:last-child){
    margin-right:33px;
}

.header .links a:hover{
    color:var(--darkblue);
}

.menu > span{
    display:block;
    background-color: #2d314d;
    height:2px;
    width:26px;
    transform-origin:3px 1px;
    transition: all 300ms ease-in-out;
}

.menu > span:not(:last-child){
    margin-bottom: 5px;
}

/* hamburger open styles */

.open > span:first-child{
    transform: rotate(45deg);
}
.open > span:nth-child(2){
    opacity:0;
}
.open > span:last-child{
    transform: rotate(-45deg);
}
.open .overlay{
    display:block;
    animation:fade-in 300 ease-in-out forwards;
}

@keyframes fade-in {
    from{
        visibility: hidden;
        opacity:0;
    }
    1%{
        visibility: hidden;
        opacity:0;
    }
    to{
        opacity:1;
    }
}

/* overlay of header  */
.overlay{
    display: none;
    position:fixed;
    top:5.375rem;
    bottom:0px;
    left:0px;
    right:0px;
    background-image:linear-gradient(var(--darkblue),transparent);
}


.menu_content{
    background-color: var(--white);
    padding:1.625rem;
    /* margin:0 1.5rem; */
    border-radius: 5px;
    position:absolute;
    width:calc(100% - 7rem);
    left:50%;
    margin-top:1.563rem;
    transform: translateX(-50%);
    z-index: 2;
}

.menu_content a{
    color:var(--darkblue);
    padding:0.625rem;
    display: block;
    text-align: center;
}

/* hero section  */
.hero{
    background-color: var(--verylightgray);
}
.hero .container{
    padding:1.875rem 1.5rem 4.938rem 1.5rem;
}
.hero_img{
    position:relative;
    background:url('/images/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    min-height:16.25rem;
}
.hero_img::before{
    content:'';
    position:absolute;
    height:100%;
    width: 100%;
    background:url('/images/image-mockups.png');
    /* background-size:88%; */
    background-size:300px;
    background-repeat: no-repeat;
    background-position:center bottom;
}

.hero_text h1{
    color:var(--darkblue);
    font-weight: 400;
    margin-bottom: 1.875rem;
    
    /* padding:26px 40px; */
    font-size:1.875rem;
}
.hero_text{
    text-align: center;
    /* margin:1.875rem 0 4.938rem 0; */
}

.hero_p{
    font-size:1rem;
    line-height: 1.5;
    margin-bottom:1.875rem;
}


/* features section  */
.feature .container{
    padding:1.875rem 1.5rem 1rem 1.5rem;
}
.feature{
    background-color:var(--lightgrayishblue);
}
.feature_text{
    text-align: center;
}
.feature_text h2{
    color:var(--darkblue);
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.875rem;
}

.feature_p{
    font-size:1rem;
    line-height: 1.5;
    margin-bottom:1.875rem;
}
.feature_grid{
    text-align: center;
}
.grid > *{
    padding:0 0 1rem 0;
}
.grid > h4{
    color:var(--darkblue);
    font-weight: 300;
}
.grid > p{
    font-size:1rem;
}



/* articles  */
.articles .container{
    padding:1.875rem 1.5rem 1rem 1.5rem;
}
.articles{
    background-color: var(--verylightgray);
}
.article_content{
    padding:5rem 0;
}
.articles_heading h2{
    color:var(--darkblue);
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.875rem;
}
.articles_grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(14.375rem,1fr));
    gap:20px;
}
/* .card{
    
} */
.card_text{
    padding:1.875rem;
}
.image{
    height:11.563rem;
    /* width:18.813rem; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    border-top-right-radius: 5px;
    border-top-left-radius:5px;
}
.author{
    margin-bottom: 0.813rem;
}
.title h3{
    color:var(--darkblue);
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 0.813rem;
}
.description{
    font-size:0.8rem;
}
.card{
    background-color: var(--white);
    /* border-radius: 15px; */
    box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.12);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}



/* footer  */
.footer{
    background-color:var(--darkblue);
    color:white;
    text-align: center;
}
.logo_social-icons{
    margin-bottom:1.875rem;
}
.logo_social-icons a img{
    margin-bottom:1.375rem;
}
.social_icons img{
    margin-left:10px;
}
/* .footer > * {
    padding:;
} */
.footer-list-1 ul > * ,
.footer-list-2 ul > * {
    margin-bottom:1rem;
    font-size:0.8rem;
}
.footer-list-1 ul li:hover{
    color:var(--limegreen);
    cursor:pointer;
}
.footer-list-2 ul li:hover{
    color:var(--limegreen);
    cursor:pointer;
}
.footer-list-2 ul:last-child{
    margin-bottom: 1.875rem;
}
.footer .logo{
    fill:white;
}
.footer_padding{
    padding:2.063rem 0;
}
.cta_button button{
    margin-bottom: 1.75rem;
}
.cta_button h6{
    color:var(--grayishblue);
}



/* Helper/Utility Classes */
.container{
    padding:0rem 1.5rem;
}
.features_grid_container{
    padding: 0 1.563rem;
}
.flex{
    display:flex;
}
.flex-jc-sb{
    justify-content: space-between;
}
.flex-jc-c{
    justify-content: center;
}
.flex-ai-c{
    align-items: center;
}
.hidden{
    visibility: hidden;
}
.scroll-lock{
    overflow: hidden;
}




/* buttons */
button{
    padding:1rem 2.125rem;
    border-radius: 50px;
    width:161px;
    color:white;
    background:linear-gradient(to right,var(--limegreen),var(--brightcyan));
    border:none;
    font-weight: 400;
    font-size: var(--font-sm);
    transition: opacity 300ms ease-in-out;
}
button:hover{
    cursor: pointer;
    opacity:0.75;
}




/* visibility classes */


/* media queries and breakpoints */

/* this one is for desktop */
@media(min-width:64em){
    .header nav{
        padding:1.188rem 10.313rem;
    }
    .header .menu{
        display:none;
    }
    .hero{
        display:flex;
        align-items: center;
    }
    .hero_img{
        flex:2;
        order:2;
        min-height: 40.938rem;
        background:url("/images/bg-intro-desktop.svg");
        background-position:left bottom;
        background-size:1080px;
        background-repeat: no-repeat;
        /* right:140px; */
            /* background-size: 190%;
            background-repeat: no-repeat;
            top:-200px; */
    }
    .hero_img::after{
        content:'';
        position:absolute;
        height:120%;
        width: 100%;
        background:url('/images/image-mockups.png');
        /* background-size:88%; */
        background-repeat: no-repeat;
        background-position:center bottom;
        background-size:720px 900px;
        left:100px;
        /* top:-30px; */
    }
    .hero_img::before{
        display:none;
    }
    .hero_text{
        flex:1;
        order:1;
        text-align: left;
    }
    .hero .container{
        padding:0;
    }
    .container{
        margin-left:10.438rem;
        padding:0;
    }
    .hero_text h1{
        font-size:2.938rem;
        max-width:450px;
    }

    .hero_p{
        font-size:0.938rem;
        line-height: 1.5;
        max-width:450px;
    }
    .feature_p{
        text-align: left;
        max-width: 613px;
    }
    .feature .container{
        padding:6.875rem 0 2.938rem  0;
    }
    .feature h2{
        text-align:left;
    }
    .features_grid .container{
        padding:0 10.563rem;
    }
    .feature_grid{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: left;
        gap:3rem;
    }
    .features_grid_container{
        padding: 0 10.438rem 6.5rem 10.438rem;
    }
    .grid >:first-child{
        padding:0 0 2.75rem 0;
    }
    /* .articles_grid{
        display:grid;
        
    } */
    .articles .container{
        padding:5rem 10.563rem;
        margin-left:0;
    }
    .articles_heading h2{
        text-align:left;
    }
    .card_text{
        padding:1.75rem 1.625rem;
    }
    .footer{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 2fr;
        align-items: center;
        justify-content: center;
    }
    .footer-list-2 ul:last-child{
        margin-bottom:0;
    }
    .footer_padding{
        padding:3rem 10.188rem;
    }
}



/* this one is for mobile  */
@media(max-width:64em){
    .header .links{
        display:none;
    }
    .header .button{
        display:none;
    }
    .header .logo img{
        width:8.125rem;
        height:1.313rem;
    }
    .overlay{
        top:3.75rem;
    }
}